@use "../abstracts/" as *;

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  border-bottom: $border-grey;
  &__heading {
    font-size: $heading-size-s;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: rem-calc(10) rem-calc(20);
    @include screenSize(phone) {
      font-size: $font-size-l;
      padding: rem-calc(10);
      letter-spacing: 0px;
    }
  }
  &__stars {
    margin-right: auto;
    display: flex;
  }
  &__icon-star,
  &__icon-location {
    width: rem-calc(20);
    height: rem-calc(20);
    fill: var(--color-primary);
    @include screenSize(phone) {
      width: rem-calc(15);
      height: rem-calc(15);
    }
  }

  &__location {
    display: flex;
    align-items: center;
    font-size: $font-size-xs;
  }
  &__icon-location {
    margin-right: rem-calc(5);
  }

  &__rating {
    background-color: var(--color-primary);
    margin-left: rem-calc(30);
    color: var(--color-white);
    align-self: stretch;
    padding: rem-calc(5) rem-calc(10);
    text-align: center;
    @include screenSize(phone) {
      margin-left: rem-calc(15);
    }
  }
  &__rating-average {
    font-size: $font-size-l;
    font-weight: 300;
  }
  &__rating-count {
    font-size: $font-size-xxs;
    text-transform: uppercase;
  }
}
