@use "sass:math";

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font settings
$font-family-base: "Montserrat", sans-serif;

$line-height-base: 1.6;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-xxs: rem-calc(8);
$font-size-xs: rem-calc(12);
$font-size-s: rem-calc(14);
$font-size-m: rem-calc(16);
$font-size-l: rem-calc(18);
$font-size-xl: rem-calc(22);

$heading-size-s: rem-calc(24);
$heading-size-m: rem-calc(28);
$heading-size-l: rem-calc(36);
$heading-size-xl: rem-calc(50);

$box-shadow: 0 rem-calc(20) rem-calc(40) rgba(#000, 0.1);
$box-shadow-s: 0 rem-calc(10) rem-calc(40) rgba(#000, 0.2);
$border-grey: rem-calc(1) solid var(--color-grey-light-2);

// Spacing settings
$gutter-base: rem-calc(20);
$gutter-base-l: rem-calc(60);
$gutter-base-xl: rem-calc(90);

// Spacing for flex elements on x axis
$flex-basis-50: calc(50% - math.div($gutter-base, 2));
$flex-basis-33: calc(33.33% - math.div($gutter-base * 2, 3));
